@font-face {
    font-family: courgette;
    src: url(./../fonts/Courgette-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: oswald;
    src: url(./../fonts/Oswald-Regular.ttf);
    font-weight: normal;
}

body {
    font-family: oswald;
}

header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../img/header.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    color: white;
    font-family: courgette;
}

#navbarNav a {
    font-family: oswald;
}

.img {
    margin-bottom: 16px;
}

#middle {
    text-align: center;
    padding: 30px;
}

.text h2 {
    font-family: courgette;
}

footer {
    background-color: black;
    color: white;
    padding-top: 44px;
}

footer h2 {
    font-family: courgette;
}

footer p {
    font-family: courgette;
}

footer li {
    text-decoration: underline;
    font-family: oswald;
    list-style-type: none;
}

footer li a {
    color: white;
}

.icon-bar a {
    background-color: white;
    padding: 8px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

img {
    height: 100px;
}

h5 {
    font-family: courgette;
}

p a {
    text-decoration: none;
    color: black;
    margin-bottom: 16px;
}